---
import InfoCard from "@components/infoCard.astro";

const locate = Astro.currentLocale;
let module = locate === "es" ? await import("@data") : await import("@data.en");
const data = module.default;
---

<section>
  <h2>{locate === "es" ? "Experiencia" : "Experience"}</h2>
  {
    data.works.map((item) => (
      <InfoCard
        name={item.name}
        position={item.position}
        summary={item.summary}
        startDate={item.startDate}
        endDate={item.endDate}
      />
    ))
  }
</section>
