---
import { Icon } from "astro-icon/components";
import Top from "@components/top.astro";

const locate = Astro.currentLocale;
let module = locate === "es" ? await import("@data") : await import("@data.en");
const data = module.default;

const { name, label, summary, location, profiles, email, phone, image } =
  data.basics;
const { city, region } = location;
---

<Top language={locate} />
<div class="contenedor">
  <h1 class="fullname">{name}</h1>

  <div class="item_container">
    <div class="item">
      <Icon name="material-symbols--mail-outline" />
      <p>{email}</p>
    </div>
    <div class="item">
      <Icon name="mdi--github" />
      <p>CalumRakk</p>
    </div>
    <div class="item">
      <Icon name="uiw--environment" />
      <p>{location.city}, {location.region}</p>
    </div>
  </div>
</div>

<style>
  .summary {
    margin-top: 4px;
  }
  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fullname {
    margin-bottom: 0.25em;
    text-wrap: nowrap;
    text-transform: capitalize;
    font-size: 2.5em;
    font-weight: 700;
    margin-top: 0px;
  }
  .item {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .item_container {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;

    flex-wrap: wrap;
    align-content: space-between;
    gap: 0.3em;
    margin: 0px;
  }
  .label {
    text-wrap: balance;
    font-size: 1em;
    margin: 0px;
  }

  img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 128px;
    border-radius: 16px;
    width: 128px;
    height: 128px;
  }

  .icon {
    color: #777;
    display: inline-flex;
    border: 1px solid #eee;
    padding: 6px;
    border-radius: 20%;
    transition: all 0.26s ease-in-out;
  }
  .icon2 {
    color: #777;
    display: inline-flex;
    padding: 6px;
    cursor: auto;
  }
  .icon:hover {
    background: #eee;
    border: 1px solid #ddd;
  }
  .icons {
    display: flex;
    justify-content: space-between;
  }
  .parrafo_ubicacion {
    margin: 0px;
    padding: 0px;
  }
  .ubicacion {
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 0.8em;
  }
  .icons-no-print {
    display: none;
  }
  @media (width <= 700px) {
    .contenedor {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
    .texto {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .icons {
      width: 100%;
      justify-content: space-around;
    }

    .icons {
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
    }
  }
  @media print {
    .icons-no-print {
      display: flex;
      font-size: 0.7em;
      justify-content: space-between;
    }
    .icon2 {
      display: inline-flex;
      padding: 0px;
      cursor: auto;
    }
    .icons {
      display: none;
    }
  }
</style>
