---
import { Icon } from "astro-icon/components";
import "../styles/global.css";

import data from "../data.json";

const { name, label, summary, location, profiles, email, phone } = data.basics;
const { city, region } = location;
---

<div class="contenedor">
  <div class="imagen"></div>
  <div class="texto">
    <div>
      <h1 class="titulo">{name}</h1>
      <p class="label color_gray">{label}</p>
    </div>
    <div>
      <p>
        {summary}
      </p>
    </div>
    <div class="icons">
      <ul>
        {
          profiles.map((profile) => (
            <li>
              <a href={profile.url} class="icon" target="_blank">
                <Icon name={profile.icon_filename} />
              </a>
            </li>
          ))
        }
        <li>
          <a href=`mailto:${email}` class="icon">
            <Icon name="material-symbols--mail-outline" />
          </a>
        </li>
        <li>
          <a href=`tel:${phone}` class="icon">
            <Icon name="mdi--phone" />
          </a>
        </li>
      </ul>
      <div class="ubicacion">
        <Icon class="icon2" name="uiw--environment" />
        <p class="parrafo_ubicacion color_gray">{city}, {region}</p>
      </div>
    </div>
  </div>
</div>

<style>
  ul {
    list-style: none;
    padding: 0;
    display: flex;

    flex-wrap: wrap;
    align-content: space-between;
    gap: 0.3em;
    margin: 0px;
  }
  .label {
    text-wrap: balance;
    font-size: 1.2em;
    margin: 0px;
  }
  .titulo {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    text-wrap: nowrap;
    text-transform: uppercase;
  }
  .imagen {
    width: 80%;
    background-color: black;
  }

  .contenedor {
    display: flex;
    gap: 4%;
  }
  .icon {
    color: #777;
    display: inline-flex;
    border: 1px solid #eee;
    padding: 6px;
    border-radius: 20%;
    transition: all 0.26s ease-in-out;
  }
  .icon2 {
    color: #777;
    display: inline-flex;
    padding: 6px;
    cursor: auto;
  }
  .icon:hover {
    background: #eee;
    border: 1px solid #ddd;
  }
  .icons {
    display: flex;
    justify-content: space-between;
  }
  .parrafo_ubicacion {
    margin: 0px;
    padding: 0px;
  }
  .ubicacion {
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 0.8em;
  }

  @media (width <= 700px) {
    .contenedor {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .imagen {
      height: 200px;
      width: 50%;
    }
    .texto {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .icons {
      width: 100%;
      justify-content: space-around;
    }

    .icons {
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
    }
  }
</style>
